*{
    font-family: Work Sans, Arial, sans-serif;
    --text-color : #00b39b;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100;
    
}
#divHeader{
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 200px;
}
header{
    margin: auto;
    width: 80%;
    margin-top: 20px;
}
nav{
    display: flex;
    align-items: center;
}
a{
    margin: 10px;
    text-decoration: none;
    color: gray;
}
#imageHeader>img{
    width:300px;
    margin-right: 80px;
    cursor: pointer;
}
#a1{
    color: #00b39b;
    cursor: pointer;
}
#a2 {
    cursor: pointer;

}
#a3{
    cursor: text;
}
a:hover{
    color: #00b39b;
}
#logopng>img{
    width: 40px;
}
#logopng{
    display: flex;
    justify-content: center;
    padding-top: 90px;
}
#paragraphe1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
    color: #00b39b;
}
#paragraphe{
    margin-top: 40px;
    display: flex;
    gap: 50px;
    margin-left: 300px;
    margin-right: 300px;
    color: gray;
    line-height: 20px;
}
#paragraphe2, #paragraphe3{
    width: 800px;
}






#div123{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 30px;
    letter-spacing: 3px;
   
}
#div1{
    background-color: #00e0c2;
    color: white;
    width: 300px;
    height: 400px;
    border-radius:10px ;
    padding: 40px;
   
}
#div2{
    background-color: #3d83df;
    color: white;
    border-radius:10px ;
    width: 300px;
    padding: 40px;
}
#div3{
    background-color: black;
    color: white;
    border-radius:10px ;
    width: 300px;
    padding: 40px;
    
}
.countrySelect{
    border: none;
    background-color: transparent;
    color: white;
    text-decoration: underline;
    font-size: 20px;
    margin-top: 100px;
}

#countrySelect2 {
    border: none;
    position: absolute;
    background-color: transparent;
    color: white;
    text-decoration: underline;
    font-size: 20px;
    margin-top: 140px;
}
#pdiv1{
    position: relative;
    top: 20px;
    font-size: 21px;
}
#i1{
    font-size: 20px;
    padding-bottom: 15px;
}
#i2{
    padding-bottom: 15px;
}
#pdiv2{
    position: relative;
    top: 20px;
    font-size: 21px;
}
#i3{
    padding-bottom: 15px;
}
#pdiv3{
    position: relative;
    top: 20px;
   
}





#main2{
    display: flex;
    

}
#pmain2{
    color: #00b39b;
    letter-spacing: 3px;
    line-height: 30px;
    margin-left: 300px;
    margin-top: 20px;
    font-size: 20px;
}
#imgmain2{
    display: flex;
    height: 20px;
    gap: 30px;
    margin-top: 20px; 
    
   
}




#main3{
    display: flex;
    background-color: #d0faf4;
    text-align: center;
    margin-top: 30px;
    padding-top: 50px;
}
#div1main3{
    padding-top: 60px;
    padding-left: 300px;
}
#h1div1main3{
    color: #00b39b;
   
}
#pdiv1main3{
    color: gray;
    margin-top: 20px;
}
#imgdiv1main3{
    width: 400px;;
    margin-top: 120px;
}
#div2main3{
    background-color: white;
    width: 250px;
    height: 250px;
}
#h1div2main{
    color: #00b39b;
    margin-top: 30px;
    font-size: x-large;
}
#pdiv2main{
    color: gray;
    margin-top: 20px;
    font-size: small;
}
#idiv2main{
    margin-top: 30px;
    font-size: xx-large;
    color: #00e0c2;
}
#div3main3{
    background-color: white;
    margin-top: 30px;
    width: 250px;
    height: 240px;
}
#idiv3main3{
    margin-top: 30px;
    font-size: xx-large;
    color: #00e0c2;
}
#h1div3main3{
    color: #00b39b;
    margin-top: 30px;
    font-size: x-large;
}
#pdiv3main3{
    color: gray;
    margin-top: 20px;
    font-size: small;
}
#div4main3{
    background-color: white;
    width: 250px;
    height: 250px;
    margin-left: 30px;
}
#idiv4main3{
    margin-top: 30px;
    font-size: xx-large;
    color: #00e0c2;
}
#h1div4main3{
    color: #00b39b;
    margin-top: 30px;
    font-size: x-large;
}
#pdiv4main3{
    color: gray;
    margin-top: 20px;
    font-size: small;
}
#div5main3{
    background-color: white;
    width: 250px;
    height: 250px;
    margin-left: 30px;
    margin-top: 30px;
}
#idiv5main3{
    margin-top: 30px;
    font-size: xx-large;
    color: #00e0c2;
}
#h1div5main3{
    color: #00b39b;
    margin-top: 30px;
    font-size: x-large;
}
#pdiv5main3{
    color: gray;
    margin-top: 20px;
    font-size: small;
}
#div2anddiv3main3{
    padding-top: 20px;
}
#div2345{
    display: flex;
    padding-left: 100px;
}




#main4{
    display: flex;
    margin-top: 80px;
    justify-content: center;
}
#h1divmain4{
    display: flex;
    color: #00e0c2;
    margin-left: 170px;
    line-height: 40px;
   
}
#h3divmain4{
    display: flex;
    color: gray;
    margin-top: 20px;
    justify-content: center;
    width: 700px;
    letter-spacing: 1px;
    line-height: 30px;
   font-size: small;
}





#main5{
    display: grid;
    grid-template-columns: repeat(4,200px);
    justify-content: center;
    margin-top: 150px;
    justify-content: space-evenly;
   
    
}
 
.buttonmain5{
    color: white;
    background-color: #3d83df;
    border-radius: 2px;
    font-size: 1em;
    
}
.pmain5{
    color: gray;
    display: flex;
    
}
.divmain5{ 
    grid-auto-rows: 100px;
    row-gap: 10px;
    column-gap:10px ;
   
    
    
}
#img9main5{
    margin-left:630px ;
    margin-top: 20px;
}
#pmain5{
    color: gray;
    
}





#div6{
    text-align: center;
    margin-top: 200px;
}
#h1div6{
    color: gray;
}
#buttondiv6{
    margin-top: 30px;
    color: white;
    background-color: #3d83df;
    font-size: 1em;
    padding: 3px;
    border-radius: 2px;
    cursor: pointer;
}




#div7{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    color: grey;
}
.pdiv7{
    color: #00e0c2;
}


#div8{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 200px;
    color: grey;
}
